*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.navbar{
  background-color: #000;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: large;
  font-size: 20px;
  height: 60px;
}

.navbar li{
  display: inline-block;
  margin: 0 0.5rem;
}

.navbar li a{
  color: #fff;
  text-decoration: none;
}

.navbar li a:hover{
  color: rgb(27, 33, 215);
  border-bottom: 3px solid #fff;
  transition: 0.3s;
  

}
